<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Calculator Ribet</title>
  </head>
  <body>
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-12 bg-primary ">
                    <!-- start inputan -->
                    <div class="inputan d-flex justify-content-center">
                        <form action="" class="mt-5 ">
                            <div class="form-group forms">
                                <input type="text" class="form-control formText">
                            </div>
                            <div class="form-group forms">
                                <input type="text" class="form-control formText">
                            </div>
                            <div class="form-group forms">
                                <input type="text" class="form-control formText">
                            </div>
                        </form>
                    </div>
                    <!-- end inputan -->

                    <!-- start button -->
                    <div class="container-fluid btn-container mb-5">
                        <div class="container">
                            <div class="row p-1">

                                <div class="col-3 p-0 mt-4 d-flex justify-content-center">
                                    <div class="button">
                                        <button class="btn btn-primary tombol">7</button>
                                    </div>
                                </div>

                                <div class="col-3 p-0 mt-4 d-flex justify-content-center">
                                    <div class="button">
                                        <button class="btn btn-primary tombol">8</button>
                                    </div>
                                </div>

                                <div class="col-3 p-0 mt-4 d-flex justify-content-center">
                                    <div class="button">
                                        <button class="btn btn-primary tombol">9</button>
                                    </div>
                                </div>

                                <div class="col-3 p-0 mt-4 d-flex justify-content-center">
                                    <div class="button">
                                        <button class="btn btn-primary tombol">X</button>
                                    </div>
                                </div>
                                
                                <div class="col-3 p-0 mt-2 d-flex justify-content-center">
                                    <div class="button">
                                        <button class="btn btn-primary tombol">4</button>
                                    </div>
                                </div>

                                <div class="col-3 p-0 mt-2 d-flex justify-content-center">
                                    <div class="button">
                                        <button class="btn btn-primary tombol">5</button>
                                    </div>
                                </div>

                                <div class="col-3 p-0 mt-2 d-flex justify-content-center">
                                    <div class="button">
                                        <button class="btn btn-primary tombol">6</button>
                                    </div>
                                </div>

                                <div class="col-3 p-0 mt-2 d-flex justify-content-center">
                                    <div class="button">
                                        <button class="btn btn-primary tombol">+</button>
                                    </div>
                                </div>

                                <div class="col-3 p-0 mt-2 d-flex justify-content-center">
                                    <div class="button">
                                        <button class="btn btn-primary tombol">1</button>
                                    </div>
                                </div>

                                <div class="col-3 p-0 mt-2 d-flex justify-content-center">
                                    <div class="button">
                                        <button class="btn btn-primary tombol">2</button>
                                    </div>
                                </div>

                                <div class="col-3 p-0 mt-2 d-flex justify-content-center">
                                    <div class="button">
                                        <button class="btn btn-primary tombol">3</button>
                                    </div>
                                </div>

                                <div class="col-3 p-0 mt-2 d-flex justify-content-center">
                                    <div class="button">
                                        <button class="btn btn-primary tombol">-</button>
                                    </div>
                                </div>

                                <div class="col-9 p-0 mt-2 d-flex justify-content-center">
                                    <div class="button">
                                        <button class="btn btn-primary tombol zero">0</button>
                                    </div>
                                </div>

                                <div class="col-3 p-0 mt-2 d-flex justify-content-center">
                                    <div class="button">
                                        <button class="btn btn-primary tombol">/</button>
                                    </div>
                                </div>

                                <div class="col-6 p-0 mt-2 mb-4 d-flex justify-content-center">
                                    <div class="button">
                                        <button class="btn btn-primary tombol reset">RESET</button>
                                    </div>
                                </div>

                                <div class="col-6 p-0 mt-2 mb-4 d-flex justify-content-center">
                                    <div class="button">
                                        <button class="btn btn-primary tombol equals">=</button>
                                    </div>
                                </div>
                                
                                

                            </div>
                        </div>
                    </div>
                    <!-- end button -->
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
  </body>
</html>