*
{
    margin: 0;
    padding: 0;
}

/* start input style */
.forms
{
    margin: 0;
    
}
.formText 
{
    padding: 0;
    border-radius: 0;
    height: 100px;
    width: 800px;
    margin-bottom: 0;
    border: none;
}

/* end input style */

/* start button style */

.btn-container
{
    margin-top: 30px;
    width: 800px;
    background-color: #333;
    border-radius: 10px;
}


.tombol
{
    width: 180px;
    height: 80px;
    background-color: white;
    border: none;
    color: #333;
    font-size: 30px;
}

.zero
{
    width: 560px;
    height: 80px;
}

.reset
{
    width: 370px;
    height: 80px;
}

.equals
{
    width: 370px;
    height: 80px;
}
/* end button style */